@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

body{
 text-align: center;
 font-family: 'Jost';
}
::placeholder{
    font-size: 20px;
}
::selection{
    color: orangered;;
    background-color: #141024;
}
.line1:hover{
    color: bisque;
    background-color: aqua;
    font-size: 25px;
    transform: rotate(360deg); 
    transition:  5s;
}
.statistic10:hover{
    font-size: 25px;
    color: rgb(0, 0, 0);
    transition:  2s;
}
.kursp:hover{
    font-size: 25px;
    color: rgb(0, 0, 0);
    transition:  2s;
}
.black:hover{
    font-size: 25px;
    color: rgb(0, 0, 0);
    transition:  2s;
}
.r14:hover{
    font-size: 25px;
    color: rgb(0, 0, 0);
    transition:  2s;
}
a:hover{
    color: rgb(255, 140, 0);
    background-color: rgba(0, 255, 255, 0.47);
    font-size: 25px;
    transform: rotate(360deg); 
    transition:  5s;
}
button:hover{
    color: rgb(196, 255, 253);
    background-color: rgb(157, 0, 255);
    font-size: 25px;
    transition:  3s;
    box-shadow: 10px 5px 5px red;
}
a:active{
    background-color: antiquewhite;
}
button:active{
    transform: rotate(360deg); 
    transition:  3s;
}
button:focus{
    background-color: white;
}
html {
    box-sizing: border-box;
    font-size: 14;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .skip-link {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 10px 15px;
    color: #18191c;
    background: rgb(157, 0, 255);
    transform: translateY(-100%);
  }
  .skip-link:focus {
    transform: translateY(20%);
  }
.r30{
    font-size: 30px;
}
.r30h2{
    font-size: 30px;
}
.r301{
    font-size: 30px;
}
.r20{
    font-size: 20px;
}
.r20_1{
    font-size: 20px;
}
.practica_title:after{
 background-image: url("images/Group 207.png");
}
.r14{
    font-size: 14px;
}
.left{
    padding-top: 50px;
    text-align: left;
    font-size: 20px;
    color:black;
   
}
.line nav {
    display: none;
    align-items: center;
}
.line1 nav {
    display: none;
    align-items: center;
}
.line_2 nav {
    display: none;
}
.priceb{
    font-size: 50px;
    color:black;
    font-weight: 900 ;
}
.pricew{
    font-size: 50px;
    color:white;
}
.black{
    color:black;
    margin-bottom: 60px;
}
header{
    background-color:  #141024;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
}  
p{
    color: rgb(174, 173, 173);
}
.header{ 
    background-color:#141024;
    color: white;
    background: transparent;
    border: none !important;
    position: sticky;
    right: 100%;
    margin-left: 5px;
    font-size: 30px;
}
.footer{
    background-color:#141024;
    color: white;
    padding-top: 40px;
    font-size: 25px;
    margin-top: 0px;
}
footer{
    background-color:#141024;
}
.statistic{
    color: orangered;
    font-size: 60px;
    font-weight: bolder;
}
.bubon{
    background-color: rgb(214, 46, 16);
    padding: 20px 100px 20px 100px;
    border-radius: 5px;
    color:white
}
.bubon2{
    background-color: rgb(214, 46, 16);
    padding: 20px 90px 20px 90px;
    border-radius: 5px;
    color:white
}
.bubon1{
    background-color: rgb(214, 46, 16);
    padding: 25px 150px 25px 150px;
    position: relative;
    bottom: 15px;
    border-radius: 5px;
    color:white
}
.bubon12{
    background-color: rgb(214, 46, 16);
    padding: 25px 150px 25px 150px;
    position: relative;
    bottom: 15px;
    border-radius: 5px;
    color:white;
    display: none;
}
.white{
    color:white;
}
.white_aa{
    color:white;
}
.whiteph{
    color:white;
}
.whitek{
    color:white;
}
.whiteheader{
    color:white;
}
.whitekurs{
    color:white;
    padding-left: 10%;
    padding-right: 10%;
}
.white30{
    color:white;
    font-size: 30px;
    font-weight: 900 ;
}
.whitehh{
    margin-top: 0px;
    padding-top: 0px;
    color:white;
} 
.whitemarg{
    margin-top: 75px;
    margin-bottom: 70px;
    color:white;
}
.kurs{
    padding-top: 50px;
}
.girl
{
    background-color:#141024;
    margin-bottom: 10px;
    margin-top: 0px;
    
}

.line{
    display: flex;   
}
.line1{
    display: flex;   
}
.line_2{
    display: flex;
    
}
.line_a{
    display: none;
    
}
.line_a_2{
    display: none;
    
}
.packet{
    border-radius: 10px;
    margin: 30px 30px 30px 30px;
    padding-bottom: 100px;
    text-align: center;
    border: 1px solid darkgrey;
}
.packetpur{
    border-radius: 10px;
    margin: 30px 30px 30px 30px;
    padding-bottom: 50px;
    text-align: center;
    border: 1px solid darkgrey;
    background-color: rgb(47, 2, 71)
}
.girly{
   background-color:#141024;
   margin: 0 auto;
   text-align: center;
   padding: 10px 0px 100px 0px;
}
.format{
    background-color: rgb(213, 32, 39);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0;
    text-align: center;
}
.crew{
    text-align: center;
}
.bwhite0{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    border: 2px solid rgb(242, 233, 233);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    font-size: 16px;
    display: none;
}
.bwhite{
    margin-top: 100px;
    background-color: white;
    border: 2px solid rgb(242, 233, 233);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    font-size: 16px;
}
.red{
    color:orangered;
}
.perc{
    display: none;
}
.submeat{
    padding:  1.5em 10em 1.5em 10em ;
    margin: 5px 2px 30px 2px;
    border-radius: 10px;
    background-color:#141024;
    color: white;
}
.inpud{
    text-align: center;
    margin: 2px 2px 2px 2px;
    padding:  20px 150px 20px 150px ;
    border-radius: 10px;    
}
.forma{
    position: relative;
}
.tooltip{
    position: absolute;
    top: 0;
    left: 150px;
    right: 45px;
    /* position: relative;
    display: inline-block;
    cursor: pointer; */
}
.tooltext{
    visibility: hidden;
    width: 150px;
    background-color:#141024; 
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1px;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    border-radius: 10px;
}
.tooltip:hover .tooltext{
    visibility: visible;
    opacity: 1;
}
.wrapper {
    position: relative;
    /* width: auto;
    display: flex;
    align-items: center;
    margin: 0 auto; */
}
.couches{
    display: flex;
    max-width: 2500px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.wrapper1{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  .containerdashboard{
    padding-top: 20px;
    display: grid;
    background-color: aqua;
    grid-template-columns:  repeat(1, 1fr) ;
    grid-template-rows:  repeat(7, 1fr) ;
    padding-bottom: 15px;
  }
  .containermain{
    display: grid;
    margin: 15px;
    grid-template-columns:  20% 80%;
    background-color: #a198c6;
    justify-content: center;
  }
  .containermany {
    display: grid;
    grid-template-columns:  repeat(1, 1fr) ;
    grid-template-rows:  repeat(3, 1fr) ;
    justify-content: center;
  }
  .container1{
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
    justify-content: center;
    place-items: center;
  }
  .container2{
    display: grid;
    grid-template-columns:  repeat(2, 1fr) ;
    grid-gap: 5px;
    justify-content: center;
  }
  .container3{
    display: grid;
    grid-template-columns:  repeat(3, 1fr) ;
    justify-content: center;
  }
   .professional{
    width: 100%;
    display: flex;
    justify-content: center;
   }
   .whitefooter{
    display: none;
   }
   .format12{
    width: 100px;
    margin-left: 30%;
    margin-right: 20%;
   }
   @media screen and (min-width:800px) and (max-width: 970px){
    .line{
        margin-left: 500px;

    } 
   }
   @media screen and (min-width:700px) and (max-width: 800px){
    .line{
        margin-left: 400px;

    }
   }
   @media screen and (min-width:500px) and (max-width: 700px){
    .line{
        margin-left: 250px;

    }
    
   }
   @media screen and (min-width:100px) and (max-width: 500px){
    .line{
        margin-left: 150px;

    }
    
   }
   @media screen and (min-width: 970px) and  (max-width: 1015px){
    .line{
        margin-left: 680px;

    }
   }
   @media screen and (min-width: 1015px) and  (max-width: 1031px){
    .line{
        margin-left: 700px;

    }
   }
   @media screen and (min-width:1031px) and (max-width: 1050px){
    .line{
        margin-left: 710px;

    }
   }
   @media screen and (min-width:1050px) and (max-width: 1070px){
    .line{
        margin-left: 720px;

    }
   }
   @media screen and (min-width:1070px) and (max-width: 1085px){
    .line{
        margin-left: 730px;

    }
   }
   @media screen and (min-width: 1085px) and (max-width: 1200px){
    .widgirl{
        margin-top: 2%;
        margin-left: 10%;
    }
    .ROBOCOL{
        margin-left: 25%;
    }
   }
   @media screen and (min-width: 1085px){
    .white_aa{
        margin-left: 10px;
    }
    .whitemarg{
       margin-bottom: 100px;
    }
    .ROBOCOL{
        margin-right: 38%;
    }
    .divi1{
        display: block;
        
        margin-left: 1%;
      
    }
    .whiteph{
        font-size: 30px;
        display: block;
        position: absolute;
        right: 100px;
        padding-top: 35px;
    }
    .whitefooter{
        display: inline-block;
        text-align: left;
    }
    .whitefooter1{
        display: none;
    }
    .divi{
        display: inline-flex;
        justify-content: space-around;
    }
    .btn{
        display: none;
    }
    .header-left{
        display: none;
    }
    .line nav{
        display: inline-flex;
    }
    .line1 nav{
        display: inline-flex;
    }
    .line_2 nav{
        display: flex;
    }
    .line_a nav{
        display:  flex;
    }
    .line_a_2 nav{
        display: flex;
    }
    .whiteheader{
        font-size: 30px;
        
    }
    .r301{
        padding-top: 70px;
        padding-left: 5%;
        padding-right: 50%;
        text-align: left;
    }
    .bwhite{
        display: none;
    }
    .kursp{
        padding-left: 20%;
        padding-right: 30%;
        text-align: left;
    }
    .kurs{
        display: inline-flex;
        padding-top: 0px;
    }
    .tooltip{
        top: 0px;
        right: 250px;
        left: 150px;
    }
    .r20_1{
        text-align: left;
        padding-left: 20%;
        padding-right: 0%;
        margin-right: 0%;
    }
    .kursdiv{
        padding-left: 0%;
        margin-left: 0%;
    }
 
    .r30h2{
        padding-top: 100px; 
        padding-right: 60%;
        margin-right: 0%;
    }
    .couches{
        width: 90%;
        height: 90%;
    }
    .couchesbig{
        width: 90%;
        height: 90%;
    }
    .couchesbig figure{
        padding-right: 25%;
    }
    .price{
        margin-top: 150px;
        padding-right: 66%;
    }
    .pred{
        display: inline-flex;
        margin-bottom: 50px;
    }
    .packet{
        margin: 75px 1% 90px 0;
        padding-right: 0%;
        width: 350px;
    }
    .pro{
        padding-top: 20px;
    }
    .packetpur{
       width: 350px;
        
    margin: 0px 30px 0px 0px;
    }
    .format1{
        display: flex;

    }
    .format11{
        padding-top: 20px;
        padding-left: 15%;
    }
    .format12{
        width: 300px;
        padding-top: 10px;
        padding-left: 1px;
        padding-right: 10%;
    }
    .perc{
        display: inline-block;
        justify-content: center;
        background-image: url("images/background.png");
        width: 100%;
        margin-bottom: 0%;
        padding-bottom: 0%;
        height: 70px;
    }
    .whitek{
        text-align: left;
        margin-left: 10% ;
        margin-right: 10% ;
    }
    .whitekurs{
        text-align: left;
        margin-left: 3%;
    }
    }

    @media screen and (min-width: 1200px){
        .divi1{
            display: block;
            position: relative;
            right: 350%;
        }
    .girly{
        display: flex;
        padding-bottom: 0%;
    }
    .bubon1{
        display: none;
    }
    .bubon12{
        display: inline;
        position: relative;
        top: 30px;
    }
    .widgirl{
        margin-top: 10%;
        margin-left: 5%;
    }
    .girl{
        margin-right: 5%;
        padding-bottom: 0%;
    }
    .statistic{
        padding-left: 10%;

        text-align: left;
    }
    .statistic10{
        padding-left: 12%;
        padding-right: 20%;
        text-align: left;
        color:#777676 ;
        background-color: #ffffff;
    }
    .statistic1000{
        display: inline-flex;
        margin-left: 8%;
        margin-right: 20%;
        padding-bottom: 100px;
    }
    .left{
        padding-left: 10%;
        padding-right: 0%;
        padding-top: 50px
    }
    }
    @media screen and (min-width: 2300px) and  (max-width: 3000px) {
        .divi1{
            display: block;
            position: relative;
            margin-left: 1%;
            right: 600px;
        }
        .bwhite0{
            display: inline;
            margin-left: 50%;
            margin-right: 10%;
            
        }
    }
    @media screen  and  (max-width: 700px){
        .gigi{
            width: 80%;
            height: 80%;
        }
        .format12{
            margin-left: 10%;
        }
        .inpud{
            padding-left: 120px;
            padding-right: 120px;
        }
        .submeat{
            padding-left: 120px;
            padding-right: 120px;
        }
    }