header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    background-color: rgba(255,175,71,1);
    margin-bottom: 0px;
}
body{
    background-color: #ffecdb;
}
.parent{
    text-align: center;
    background-color: grey;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 25px;
}
.vypusk{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 50px;
    background-color: rgba(255,175,71,1) ;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 15px;
    padding-bottom: 25px;
}

.vupimg{
    width: 150px;
    height: 150px;
}
.hi{
    background-image: -webkit-linear-gradient(top, rgba(186, 94, 24, 0.5), rgba(6, 17, 31, 0.9));
    text-align: center;
    padding-top: 25px;
    padding-bottom: 45px;
    margin-top: 0px;
}
.white_hi{
    color: white;
    margin-top: 0px;
    margin-left: 15%;
    margin-right: 15%;
}
.p25{
    font-size: 25px; 
}
.logo{
    border-radius: 15px;
    margin-left: 15px;
    width: 50px;
    height: 50px;
}
main{
    margin-top: 0px;
}
input{
    text-align: center;
    display: block;
}
.mane{
    margin: 15px;
    margin-bottom: 25px;
}
.info{
    text-align: center;
    background-color: #ffecdb;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}
.flexi{
    display: flex;
    justify-content: space-evenly;
}
.media{
    color: rgb(148, 67, 0);;
    margin-top: 0px;
    padding-bottom: 5px;
}
.rada{
    color: rgb(148, 67, 0);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.nemedia{
    color: rgb(163, 97, 35);
    margin-bottom: 0px;
}
/* Dropdown Button */
.dropbtn {
    background-color: #b1713d;
    color: white;
    padding: 17px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
    margin-right: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 77px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.moni{
    background-color: rgba(196, 70, 31, 0.5);
    margin-left: 5%;
    margin-right: 5%;
}
footer{
    background-color: #bc380c;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
 
}
.vk{
    width: 50px;
    height: 50px;
}
.texti{
    height: 50px;
}
@media screen and (min-width: 550px) {
    .vypusk{
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: repeat(2, 1fr);
    }
    .vupimg{
        width: 170px;
        height: 170px;
    }
}
@media screen and (max-width: 320px) {
    .vupimg{
        width: 100px;
        height: 100px;
    }
    .mane{
        margin: 0;
        margin-left: 15%;
        margin-right: 25%;
    }
    .flexi{
        display: block;
        
    }
}
